.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    min-width: 400px;
}

.heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 95%;
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.button {
    background-color: #0070f3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #0061d6;
}
