.container {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #FFF;
    width: 300px;
    padding: 100px 20px 20px 20px;
}





@media only screen and (max-width: 600px) {
    .container {
      width: 60px;
      padding: 100px 5px 20px 5px;
    }
  }