.chatContainer {
  height: calc(100vh - (var(--header-height, 72px) + 32px * 2));
}

.customChat {
  height: calc(100vh - (var(--header-height, 72px) + 32px * 2));
  gap: 30px;
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex-basis: 420px;
  flex-shrink: 0;
}
